Lab 1: Data(frames) & Variables
===============================
Our goals this week are to get familiar with working Python, Jupyter Notebook (and Colab), and pandas DataFrame objects. We're going to look at US Census data that describes cities in the United States.


Basic Python
------------
- statements
- keywords
- variables
  - variable names
- assignment operator
- built-in functions
  - arguments
  - print()
  - round()
  - len()
- comments
- math operators

A list of Python keywords:

```
False      await      else       import     pass
None       break      except     in         raise
True       class      finally    is         return
and        continue   for        lambda     try
as         def        from       nonlocal   while
assert     del        global     not        with
async      elif       if         or         yield
```

A list of Python math operators:

```
+       addition
-       subtraction
*       multiplication
/       division

**      exponentiation

//      floor division
%       modulus
```


Case Study: City Populations
----------------------------
The table below shows the 10 most populous cities in the United States in 2023. 
The data comes from [Wikipedia](https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population).
Area is shown in square miles.

|City            |  State  |  2023 Pop. Est  |  Area (sq mi)  |  
|----------------|---------|-----------------|----------------|
|New York        |  NY     |  8,258,035      |  300.5         |  
|Los Angeles     |  CA     |  3,820,914      |  469.5         |  
|Chicago         |  IL     |  2,664,452      |  227.7         |  
|Houston         |  TX     |  2,314,157      |  640.4         |  
|Phoenix         |  AZ     |  1,650,070      |  518.0         |  
|Philadelphia    |  PA     |  1,550,542      |  134.4         |  
|San Antonio     |  TX     |  1,495,295      |  498.8         |  
|San Diego       |  CA     |  1,388,320      |  325.9         |  
|Dallas          |  TX     |  1,302,868      |  339.6         |  
|Jacksonville    |  FL     |  985,843        |  747.3         |

In [8]:
# create a variable for the population of NYC
# create a variable for the population of LA
# calculate how many more people live in NYC than in LA
# show the result
# print() the result

27480.98169717138

In [ ]:
# calculate population density of NYC
# use round() to round the result to the nearest whole number
# print a nice message with the result

Loading external data
---------------------

In this section:

- `import`: load a **library**, a collection of functions and objects that you can use in your code
- `DataFrame`: a table of data that you can manipulate in Python (kinda like spreadsheet that you can program with)
- reading data from a file
- columns and rows
- length
- "dot" notation
- `.head()` and `.tail()`
- `.sort_values()`

In [13]:
# import the pandas library and call it pd
import pandas as pd

# load the data for the US cities with more than 100,000 people
# based on the 2022 US Census data
cities = pd.read_csv("https://raw.githubusercontent.com/mcuringa/cartopy/main/notebooks/data/us-cities.csv")
cities

                   city state  population
0              New York    NY     8622467
1           Los Angeles    CA     3881041
2               Chicago    IL     2721914
3               Houston    TX     2296253
4               Phoenix    AZ     1609456
..                  ...   ...         ...
335  San Tan Valley CDP    AZ      101207
336              Quincy    MA      100981
337            Edinburg    TX      100964
338                Lynn    MA      100653
339         New Bedford    MA      100620

[340 rows x 3 columns]



Exercises
---------

Use the US Cities data (above) to answer these questions. Use the DataFrame
functions head() tail() and sort_values() to help you. Use variables
for your answers. Use the print() function to display
a descriptive message with your answer.

1. **Difference in area.** What's the difference in area between the largest and smallest cities in the table?
2. **Urban population.** [According to the US Census](), the total US population in 2023 is 335,888,625. 
   What percentage of the US population lives in these 10 cities?

In [1]:
# write your code for the exercise here use print() to show your results

'Adelphi University/National Science Foundation/Robert Noyce Foundation Track 1: Developing Responsive Urban Learning Environments Through Steam Teacher Cohorts: Phase Iii'

Bonus Exercise
--------------
The built-in `round()` function rounds a number to a 
specified number of decimal places. For example, `round(3.14159, 2)` 
returns `3.14`. For our "ten largest cities" data, what if we want
to round to the nearest thousand? Write the code to do this.