Tiger/line: census geospatial data
==================================
The  US Census Beureau provides geospatial "shapefiles"
that correspond to the statistical data the collect
and make available through the API.

In this notebook we will demonstrate how to connect to these shapefiles
using `geopandas` and how to **merge** them with the statistical data
to create interactive `folium` maps.


This lab assumes that you have an API key and 
understand the basics of querying the US Census API.

Setup
===============
We will load basic demographic data from the Census API.
See [lab 7](https://drive.google.com/file/d/1SxMqPCqJvNwL4U40bWYWDWF8u5rqAVfF/view?usp=sharing) for more details on how to use the Census API.

The US States
=============

In [1]:
%load_ext autoreload
%autoreload 2


# install libraries that are not part of Colab by default
!pip install census us mapclassify -q



from maptools import tiger, census_vars

# load the libraries we need
from census import Census
import us
import pandas as pd
import geopandas as gpd

# replace this with your own Census API key (this is a fake key)
api_key = "796f9e16b6e3f73329d0d36de60d226d53215cc5"
root = "/home/mxc/Projects/cartopy/tiger"

In [17]:
import os
api_key = os.getenv('CENSUS_API_KEY')


# from google.colab import userdata
# api_key = userdata.get('CENSUS_API_KEY')

api_key
c = Census(api_key)

In [3]:


cv, ct = census_vars._init_vars()
census_vars.search("travel", results=20)

In [19]:
field_names = census_vars.get_table("B08303")

In [23]:
fields = list(field_names.keys())

data = c.acs5.get(fields=fields, geo={ 'for': 'state:*'}, year=2022)

df = pd.DataFrame(data)
df.rename(columns=field_names, inplace=True)
df.sort_values("total", ascending=False, inplace=True)

df.head(10)

,total,less_than_5_minutes,5_to_9_minutes,10_to_14_minutes,15_to_19_minutes,20_to_24_minutes,25_to_29_minutes,30_to_34_minutes,35_to_39_minutes,40_to_44_minutes,45_to_59_minutes,60_to_89_minutes,90_or_more_minutes,state
4,15852627,311056.0,1192478.0,1933358.0,2381256.0,2271253.0,998127.0,2381423.0,452815.0,675604.0,1369281.0,1248892.0,637084.0,06
43,12242840,324079.0,1100296.0,1593600.0,1904211.0,1761469.0,789458.0,1844223.0,382685.0,482687.0,1065154.0,708488.0,286490.0,48
9,8716108,167859.0,611485.0,982992.0,1280078.0,1340928.0,609055.0,1462411.0,307062.0,393334.0,818397.0,531437.0,211070.0,12
32,8306205,204477.0,610783.0,844557.0,985322.0,992981.0,482390.0,1134490.0,264555.0,425866.0,904389.0,990771.0,465624.0,36
38,5466237,178360.0,540326.0,723238.0,810990.0,764204.0,382123.0,710946.0,184322.0,229000.0,471280.0,317032.0,154416.0,42
13,5425313,159209.0,500372.0,655844.0,717875.0,683531.0,355781.0,763715.0,199298.0,259879.0,554707.0,426490.0,148612.0,17
35,5031783,173767.0,557260.0,722534.0,816678.0,799646.0,422718.0,628146.0,173796.0,172997.0,303243.0,170223.0,90775.0,39
10,4396399,99160.0,341398.0,538588.0,658062.0,616739.0,288914.0,631073.0,157904.0,183190.0,431485.0,317493.0,132393.0,13
33,4310113,121368.0,411760.0,605819.0,731059.0,659271.0,317490.0,569809.0,144514.0,151385.0,318294.0,187283.0,92061.0,37
22,4141683,131640.0,441787.0,598015.0,667042.0,625137.0,312861.0,518510.0,139959.0,155109.0,294029.0,179101.0,78493.0,26