Lab 3: Plotting points
======================
**Goals:**

- using `geopandas` and reading spatial data files
- write functions with parameters and `return` values
- use the apply() function to apply a function to a column
- create interactive maps with GeoPandas


**Topics:**

- format percentages as strings
- plot points on a map
- change the base map
- customize the title and popup
- use colors to represent data
- use radius size to represent data
- calculate basic statistics (sum, mean, etc) on columns

In [4]:
# import pandas library
import pandas as pd
import geopandas as gpd

# read the data from a URL
url = "https://raw.githubusercontent.com/mcuringa/cartopy/main/notebooks/data/large-us-cities.csv"
url = "data/city-points.geojson"

# read the data into a pandas DataFrame
df = gpd.read_file(url)

# display the GeoDataFrame, note the special geometry column
df

,city,state,pop_2022,pop_2017,area,geometry
0,New York,NY,8622467,8560072,300.455595,POINT (-73.93868 40.66271)
1,Los Angeles,CA,3881041,3949776,470.514345,POINT (-118.41082 34.01939)
2,Chicago,IL,2721914,2722586,227.746682,POINT (-87.68494 41.83705)
3,Houston,TX,2296253,2267336,640.602800,POINT (-95.38881 29.78574)
4,Phoenix,AZ,1609456,1574421,518.327625,POINT (-112.09013 33.57215)
...,...,...,...,...,...,...
334,San Tan Valley,AZ,101207,90665,75.792311,POINT (-111.56282 33.17859)
335,Quincy,MA,100981,93824,16.572565,POINT (-71.00899 42.26101)
336,Edinburg,TX,100964,86123,44.722438,POINT (-98.16284 26.32106)
337,Lynn,MA,100653,93069,10.738836,POINT (-70.96203 42.47477)
338,New Bedford,MA,100620,95125,20.000777,POINT (-70.93791 41.6613)

In [ ]:
# use plot() to make a static map

In [ ]:
# use explore() to make an interactive map

In [5]:
# calculate the 5 year change in population
# calculate the 5 year change in percent of population
# write a function to format a real number as a percentage
def fmt_pct(n):
    return f"{n:.2%}"

fmt_pct(0.123456)

'12.35%'